<html>
    <body>
        <h1> count</h1>
        <script>

            /*
            var ws =new WebSocket('ws://127.0.0.1:8000/ws/sc/');
            ws.onopen=function(){
                console.log('Websocket connection open...')
                ws.send('hi ,i am message from client...')
            }

            ws.onmessage=function(){
                alert(event['data']);
                console.log('Websocket received message...',event)
            }


            ws.onerror=function(){
                alert('websocket error occured')
            }

            ws.onclose=function(){
                console.log('Websocket connection closed...',event)
            }
            */
        </script>
    </body>
    </html>
